# PyCity Schools Analysis
### Sullivan Shave

In [1]:
import pandas as pd
from pathlib import Path

### Load csv file from resources

In [2]:
school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

#### School Data (df1)

In [3]:
school_data.head(5)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
school_data.shape

(15, 5)

In [5]:
df1 = pd.DataFrame(school_data)

In [6]:
df1.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

#### Student Data (df2)

In [7]:
student_data.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
student_data.shape

(39170, 7)

In [9]:
df2 = pd.DataFrame(student_data)

In [10]:
df2.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

#### Student_and_School_Data (df)

In [11]:
student_and_school = pd.merge(student_data, school_data, how = "left", on = ["school_name", "school_name"])

In [12]:
student_and_school.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [13]:
df = pd.DataFrame(student_and_school)

In [14]:
df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [15]:
# number of schools in the district 

school_count = df["school_name"].nunique()
school_count

15

In [16]:
# number of students in the district

student_count = len(df["Student ID"])
student_count

39170

In [17]:
# total budget among the schools in the district

budget_per_school = df.drop_duplicates(subset=["budget"])
#len(budget_per_school)
total_budget = budget_per_school["budget"].sum()
total_budget

24649428

In [18]:
# average math score in the district (rounded to 2 decimal places)

average_math_score = round(df["math_score"].mean(),2)
average_math_score

78.99

In [19]:
# average reading score in the district (rounded to 2 decimal places)

average_reading_score = round(df["reading_score"].mean(),2)
average_reading_score

81.88

In [20]:
# percentage of students who received a passing grade in math 

students_math_passed = df[(df["math_score"] >= 70)].count()["student_name"]
students_math_passed_percent = round(students_math_passed / float(student_count) * 100, 2)
print(str(students_math_passed_percent) + "%")

74.98%

In [21]:
# percentage of students who received a passing grade in reading

students_reading_passed = df[(df["reading_score"] >= 70)].count()["student_name"]
students_reading_passed_percent = round(students_reading_passed / float(student_count) * 100, 2)
print(str(students_reading_passed_percent) + "%")

85.81%

In [22]:
# percent of students who passed both math AND reading (total percent of students passing)

number_of_students_passing = df[(df["math_score"]>= 70) & \
                                (df["reading_score"] >= 70)].count()["student_name"]
percent_passing_students = round(number_of_students_passing / float(student_count) * 100, 2)
print(str(percent_passing_students) + "%")

65.17%

In [95]:
summary = [{"Total Schools": school_count,\
            "Total Students": student_count,\
            "Total Budget": total_budget,\
            "Average Math Score": average_math_score,\
           "Average Reading Score": average_reading_score,\
           "% Passing Math": students_math_passed_percent,\
           "% Passing English": students_reading_passed_percent,\
           "% Overall Passing": percent_passing_students}]

dfS = pd.DataFrame(summary)
dfS

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing English,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

## School Summary

In [63]:
combined_school_df = df.groupby(["school_name"])

In [65]:
type_of_school = combined_school_df["type"].first()
type_of_school

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [67]:
num_students = combined_school_df["Student ID"].count()
num_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [69]:
total_school_budget = combined_school_df["budget"].first()
total_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [70]:
school_per_capita = total_school_budget / num_students
school_per_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [72]:
each_school_math_mean = combined_school_df["math_score"].mean()
each_school_math_mean

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [73]:
each_school_reading_mean = combined_school_df["reading_score"].mean()
each_school_reading_mean

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [76]:
each_school_passing_math = df[(df["math_score"] >= 70)]

school_students_passing_math = each_school_passing_math.groupby(["school_name"]).size()

school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [77]:

each_school_passing_reading = df[(df["reading_score"] >= 70)]
school_students_passing_reading = each_school_passing_reading.groupby(["school_name"]).size()

school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [78]:
each_school_percent_passing_math = school_students_passing_math / num_students * 100
each_school_percent_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [79]:
each_school_percent_passing_reading = school_students_passing_reading / num_students * 100
each_school_percent_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [80]:
each_school_overall_passing_rate = (each_school_percent_passing_math + each_school_percent_passing_reading) / 2
each_school_overall_passing_rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [ ]:
each_school_summary =

In [93]:

each_school_sum = pd.DataFrame({"School Type": type_of_school,\
                   "Total Students": num_students,\
                   "Total School Budget": total_school_budget,\
                   "Per Student Budget": school_per_capita,\
                   "Average Math Score": each_school_math_mean,\
                   "Average Reading Score": each_school_reading_mean,\
                   "% Passing Math": each_school_percent_passing_math,\
                   "% Passing Reading": each_school_percent_passing_reading,\
                   "% Overall Passing": each_school_overall_passing_rate})

each_school_sum["Total School Budget"] = each_school_sum["Total School Budget"].map("${:,.2f}".format)
each_school_sum["Per Student Budget"] = each_school_sum["Per Student Budget"].map("${:,.2f}".format)

each_school_sum

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,94.972222

# Highest-Performing Schools per % Overall Passing Rate

In [99]:
top_schools = each_school_sum.sort_values(by="% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

# Worst Performing Schools per % Overall Passing

In [100]:
bottom_schools = each_school_sum.sort_values(by="% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

# Math Scores by Grade

In [ ]:
ninth_graders = df[(df["grade"] == "9th")]
tenth_graders = df[(df["grade"] == "10th")]
eleventh_graders = df[(df["grade"] == "11th")]
twelfth_graders = df[(df["grade"] == "12th")]

ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"]
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"]
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"]

# OLD WORK (scratch work)

In [24]:
# types of schools in the district

school_types = df["type"].unique()
print(school_types)

['District' 'Charter']

In [25]:
# total number of students per school

per_school_counts = df1[["school_name", "size"]]
print(per_school_counts)

              school_name  size
0       Huang High School  2917
1    Figueroa High School  2949
2     Shelton High School  1761
3   Hernandez High School  4635
4     Griffin High School  1468
5      Wilson High School  2283
6     Cabrera High School  1858
7      Bailey High School  4976
8      Holden High School   427
9        Pena High School   962
10     Wright High School  1800
11  Rodriguez High School  3999
12    Johnson High School  4761
13       Ford High School  2739
14     Thomas High School  1635

In [26]:
# total budget per school

per_school_budget = df1[["school_name", "budget"]]
print(per_school_budget)

              school_name   budget
0       Huang High School  1910635
1    Figueroa High School  1884411
2     Shelton High School  1056600
3   Hernandez High School  3022020
4     Griffin High School   917500
5      Wilson High School  1319574
6     Cabrera High School  1081356
7      Bailey High School  3124928
8      Holden High School   248087
9        Pena High School   585858
10     Wright High School  1049400
11  Rodriguez High School  2547363
12    Johnson High School  3094650
13       Ford High School  1763916
14     Thomas High School  1043130

In [27]:
# per capita spending per school

df1["per_capita_spending"] = (df1["budget"] / df1["size"])
df1[["school_name", "per_capita_spending"]]
per_school_capita = print(df1[["school_name", "per_capita_spending"]])
per_school_capita

              school_name  per_capita_spending
0       Huang High School                655.0
1    Figueroa High School                639.0
2     Shelton High School                600.0
3   Hernandez High School                652.0
4     Griffin High School                625.0
5      Wilson High School                578.0
6     Cabrera High School                582.0
7      Bailey High School                628.0
8      Holden High School                581.0
9        Pena High School                609.0
10     Wright High School                583.0
11  Rodriguez High School                637.0
12    Johnson High School                650.0
13       Ford High School                644.0
14     Thomas High School                638.0

In [28]:
df[["school_name", "reading_score", "math_score"]]

              school_name  reading_score  math_score
0       Huang High School             66          79
1       Huang High School             94          61
2       Huang High School             90          60
3       Huang High School             67          58
4       Huang High School             97          84
...                   ...            ...         ...
39165  Thomas High School             99          90
39166  Thomas High School             95          70
39167  Thomas High School             73          84
39168  Thomas High School             99          90
39169  Thomas High School             95          75

[39170 rows x 3 columns]

In [60]:
# average math scores per school

#per_school_avg_math = df[df["math_score"]].mean()
#school_students_math = per_school_avg_math.groupby(["school_name"]).size()



df[df["math_score"]].mean()
    # NEED TO FIX

KeyError: "None of [Int64Index([79, 61, 60, 58, 84, 94, 80, 69, 87, 84,\n            ...\n            86, 84, 77, 75, 76, 90, 70, 84, 90, 75],\n           dtype='int64', length=39170)] are in the [columns]"

In [30]:
#schools_df = df.copy()
#schools_df.groupby(["school_name"])
#schools_df.head()

    # NOT SURE IF NEEDED

In [47]:
# average reading scores per school

schools_df["reading_score"].mean().groupby(["school_name"])

    # NEED TO FIX

NameError: name 'schools_df' is not defined

In [32]:
# Calculate the number of students per school with math scores of 70 or higher

students_passing_math = df[(df["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()

school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [36]:
# Calculate the number of students per school with reading scores of 70 or higher

students_passing_reading = df[(df["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [37]:
# the number of students per school that passed both math and reading with scores of 70 or higher

students_passing_math_reading = df[(df["reading_score"] >= 70) & \
                                   (df["math_score"] >= 70)]

school_students_passing_math_reading = students_passing_math_reading \
.groupby(["school_name"]).size()

school_students_passing_math_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [44]:
# calculating the passing rates

per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_reading / per_school_counts * 100

In [62]:
# "per_school_summary dfPSS"

per_school_summary = [{"School Type": school_types,\
                       "Total Students": student_count,\
                       "Total Budget": total_budget,\
                       "Per Capita Budget": per_school_capita,\
                       #"Average Math Score": ,\
                       #"Average Reading Score": ,\
                       "% Passing Math": per_school_passing_math,\
                       "% Passing Reading": per_school_passing_reading,\
                       "% Overall Passing": overall_passing_rate}]

dfPSS = pd.DataFrame(per_school_summary)
dfPSS

,School Type,Total Students,Total Budget,Per Capita Budget,% Passing Math,% Passing Reading,% Overall Passing
0,"[District, Charter]",39170,24649428,None,Bailey High School Cabrera High School F...,Bailey High School Cabrera High School F...,Bailey High School Cabrera High School F...