# PyCity Schools Analysis
### Sullivan Shave

In [1]:
import pandas as pd
from pathlib import Path

### Load csv file from resources

In [2]:
school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

#### School Data (df1)

In [3]:
school_data.head(5)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
school_data.shape

(15, 5)

In [5]:
df1 = pd.DataFrame(school_data)

In [6]:
df1.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

#### Student Data (df2)

In [7]:
student_data.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
student_data.shape

(39170, 7)

In [9]:
df2 = pd.DataFrame(student_data)

In [10]:
df2.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

#### Student_and_School_Data (df)

In [11]:
student_and_school = pd.merge(student_data, school_data, how = "left", on = ["school_name", "school_name"])

In [12]:
student_and_school.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [13]:
df = pd.DataFrame(student_and_school)

In [14]:
df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [15]:
# number of schools in the district 

school_count = df["school_name"].nunique()
school_count

15

In [16]:
# number of students in the district

student_count = len(df["Student ID"])
student_count

39170

In [17]:
# total budget among the schools in the district

budget_per_school = df.drop_duplicates(subset=["budget"])
#len(budget_per_school)
total_budget = budget_per_school["budget"].sum()
total_budget

24649428

In [18]:
# average math score in the district (rounded to 2 decimal places)

average_math_score = round(df["math_score"].mean(),2)
average_math_score

78.99

In [19]:
# average reading score in the district (rounded to 2 decimal places)

average_reading_score = round(df["reading_score"].mean(),2)
average_reading_score

81.88

In [20]:
# percentage of students who received a passing grade in math 

students_math_passed = df[(df["math_score"] >= 70)].count()["student_name"]
students_math_passed_percent = round(students_math_passed / float(student_count) * 100, 2)
print(str(students_math_passed_percent) + "%")

74.98%

In [21]:
# percentage of students who received a passing grade in reading

students_reading_passed = df[(df["reading_score"] >= 70)].count()["student_name"]
students_reading_passed_percent = round(students_reading_passed / float(student_count) * 100, 2)
print(str(students_reading_passed_percent) + "%")

85.81%

In [22]:
# percent of students who passed both math AND reading (total percent of students passing)

number_of_students_passing = df[(df["math_score"]>= 70) & \
                                (df["reading_score"] >= 70)].count()["student_name"]
percent_passing_students = round(number_of_students_passing / float(student_count) * 100, 2)
print(str(percent_passing_students) + "%")

65.17%

In [23]:
summary = [{"Total Schools": school_count,\
            "Total Students": student_count,\
            "Total Budget": total_budget,\
            "Average Math Score": average_math_score,\
           "Average Reading Score": average_reading_score,\
           "% Passing Math": students_math_passed_percent,\
           "% Passing English": students_reading_passed_percent,\
           "% Overall Passing": percent_passing_students}]

dfS = pd.DataFrame(summary)
dfS

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing English,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

## School Summary

In [24]:
combined_school_df = df.groupby(["school_name"])

In [25]:
type_of_school = combined_school_df["type"].first()
type_of_school

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [26]:
num_students = combined_school_df["Student ID"].count()
num_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [27]:
total_school_budget = combined_school_df["budget"].first()
total_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [28]:
school_per_capita = total_school_budget / num_students
school_per_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [29]:
each_school_math_mean = combined_school_df["math_score"].mean()
each_school_math_mean

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [30]:
each_school_reading_mean = combined_school_df["reading_score"].mean()
each_school_reading_mean

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [31]:
each_school_passing_math = df[(df["math_score"] >= 70)]

school_students_passing_math = each_school_passing_math.groupby(["school_name"]).size()

school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [32]:

each_school_passing_reading = df[(df["reading_score"] >= 70)]
school_students_passing_reading = each_school_passing_reading.groupby(["school_name"]).size()

school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [33]:
each_school_percent_passing_math = school_students_passing_math / num_students * 100
each_school_percent_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [34]:
each_school_percent_passing_reading = school_students_passing_reading / num_students * 100
each_school_percent_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [35]:
each_school_overall_passing_rate = (each_school_percent_passing_math + each_school_percent_passing_reading) / 2
each_school_overall_passing_rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [37]:
#each_school_summary =

In [38]:

each_school_sum = pd.DataFrame({"School Type": type_of_school,\
                   "Total Students": num_students,\
                   "Total School Budget": total_school_budget,\
                   "Per Student Budget": school_per_capita,\
                   "Average Math Score": each_school_math_mean,\
                   "Average Reading Score": each_school_reading_mean,\
                   "% Passing Math": each_school_percent_passing_math,\
                   "% Passing Reading": each_school_percent_passing_reading,\
                   "% Overall Passing": each_school_overall_passing_rate})

each_school_sum["Total School Budget"] = each_school_sum["Total School Budget"].map("${:,.2f}".format)
each_school_sum["Per Student Budget"] = each_school_sum["Per Student Budget"].map("${:,.2f}".format)

each_school_sum

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,94.972222

# Highest-Performing Schools per % Overall Passing Rate

In [39]:
top_schools = each_school_sum.sort_values(by="% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

# Worst Performing Schools per % Overall Passing

In [40]:
bottom_schools = each_school_sum.sort_values(by="% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

# Math Scores by Grade

In [44]:
ninth_graders = df[(df["grade"] == "9th")]
tenth_graders = df[(df["grade"] == "10th")]
eleventh_graders = df[(df["grade"] == "11th")]
twelfth_graders = df[(df["grade"] == "12th")]

ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_math_scores,\
                                     "10th": tenth_grader_math_scores,\
                                     "11th": eleventh_grader_math_scores,\
                                     "12th": twelfth_grader_math_scores})

math_scores_by_grade[["9th","10th","11th","12th"]]

math_scores_by_grade.index.name = None
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Scores by Grade

In [45]:
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_scores,\
                                     "10th": tenth_grader_reading_scores,\
                                     "11th": eleventh_grader_reading_scores,\
                                     "12th": twelfth_grader_reading_scores})

reading_scores_by_grade[["9th","10th","11th","12th"]]

reading_scores_by_grade.index.name = None
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [62]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [63]:
school_spending_df = each_school_sum.copy()

In [68]:
school_spending_df.head(2)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652

In [73]:
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].apply(lambda x: x.replace('$', '').replace(',', '')).astype("float")

AttributeError: 'float' object has no attribute 'replace'

In [74]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-680
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585

In [75]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [76]:
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores,\
                                "Average Reading Score": spending_reading_scores,\
                                "% Passing Math": spending_passing_math,\
                                "% Passing Reading": spending_passing_reading,\
                                "% Overall Passing": overall_passing_spending})
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-630,81.899826,83.155286,87.133538,92.718205,89.925871
$630-645,78.518855,81.624473,73.484209,84.391793,78.938001
$645-680,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores By School Size

In [77]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [78]:
each_school_sum.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668

In [80]:
each_school_sum["School Size"] = pd.cut(each_school_sum["Total Students"], size_bins, labels=labels)

In [82]:
each_school_sum.head(2)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652,Medium (1000-2000)

In [83]:
size_math_scores = each_school_sum.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = each_school_sum.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = each_school_sum.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = each_school_sum.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = each_school_sum.groupby(["School Size"])["% Overall Passing"].mean()

In [84]:
size_summary = pd.DataFrame({"Average Math Score": size_math_scores,\
                            "Average Reading Score": size_reading_scores,\
                            "% Passing Math": size_passing_math,\
                            "% Passing Reading": size_passing_reading,\
                            "% Overall Passing": size_overall_passing})
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

In [85]:
average_math_score_by_type = each_school_sum.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = each_school_sum.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = each_school_sum.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = each_school_sum.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = each_school_sum.groupby(["School Type"])["% Overall Passing"].mean()

In [86]:
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type,\
                            "Average Reading Score": average_reading_score_by_type,\
                            "% Passing Math": average_percent_passing_math_by_type,\
                            "% Passing Reading": average_percent_passing_reading_by_type,\
                            "% Overall Passing": average_percent_overall_passing_by_type})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757